# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
logs/**/*.log

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/

# Docker
docker-compose.override.yml
.docker/

# Build output
dist/
build/

# Optional: Ignore local MongoDB data (if using bind mounts for dev)
mongo-data/
